*{
    margin: 0;
    padding: 0;
}
.sky{
    height: 55vh;
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background: url(back3.jpg);
    animation:  linear 13s infinite;

}


.track{
    height: 5vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 50vh;
    animation: carMove linear 11s infinite;

}

.car{
    height: 86px;
  width: 311px;
  background-image: url(car1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 444px;
  bottom: 1vh;
}


.wheel1 img{
    width: 51px;
  position: relative;
  top: 37px;
  left: 29px;
  animation: wheelRotation linear .16s infinite;
}


.wheel2 img{
    width: 51px;
    position: relative;
    top: -15px;
    left: 225px;
    animation: wheelRotation linear .16s infinite;
}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
    }
}

